/* CSS DSCOMBO */
input.dscombo_black {
	color: #FFFFFF;
    background-color : #444444;
    border: 1px  #080808 solid;
}

span.dscombo_black_expand {
    cursor:pointer;
    height : 16px;
    width : 16px;
    padding-left : 16px;
    background : url('dscombo/down.gif') no-repeat left;
  }

div.dscombo_black_result {
	color: #FFFFFF;
    background-color : #444444;
    height : 200px;
    overflow : scroll;
    position : absolute;
    z-index : 900;
    border: 1px  #080808 solid;
	 text-align: left;
  }

div.dscombo_black_result td:hover {
    cursor:pointer;
	color: black;
    background-color: #9EDA29;
  }

div.dscombo_black_result td {
    cursor:pointer;
    border: 1px #080808 solid;
  }
