div.dsnav_black {
/*      height:25px; */
    overflow : hidden;
	margin-bottom: 1px;
	margin-top: 1px;
	width:100%;
    background-image:url('dsnav/background.png');
}

select.dsnav_black_totalpage {
    background-color: #4F4F4F;
	color: white;
	margin-top: 1px;
	border: 0px none;
	height: 18px;
  }

div.dsnav_black_totalpage {
	float: left;
    background-color: #4F4F4F;
	color: white;
    border: 1px #000000 solid;
    height : 20px;
	font-size: 12px;
	float: left;
	margin: 1px;
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap; 	
	overflow:visible;
}

div.dsnav_black_totalpage div {
	 padding-top: 2px;
}

div.dsnav_black_totalpage:hover {
    border: 1px #316AC5 solid;
}

div.dsnav_black_total {
    background-color: #4F4F4F;
	color: white;
    border: 1px #000000 solid;
    height : 20px;
	min-width : 60px;
	white-space: nowrap; 
	text-align: center;
	font-size: 12px;
	float: left;
	margin: 1px;
	line-height: 20px;
	overflow:visible;
	padding-left:3px;
	padding-right:3px;
}

div.dsnav_black_new {
    cursor:pointer;
    background : url('dsnav/add.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
}

div.dsnav_black_new:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/add_over.png') no-repeat center;
}

div.dsnav_black_reload {
    cursor:pointer;
    background : url('dsnav/reload.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
}

div.dsnav_black_reload:hover {
    border: 1px #316AC5 solid;
    background : url('dsnav/reload_over.png') no-repeat center;
    background-color: #000000;
}

div.dsnav_black_reload_gray {
    cursor: text;
    background : url('dsnav/reload.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
}

div.dsnav_black_print {
    cursor:pointer;
    background : url('dsnav/print.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
}

div.dsnav_black_print:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/print_over.png') no-repeat center;
  }

div.dsnav_black_print_gray {
    cursor: text;
    background : url('dsnav/print.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
 	margin: 1px;
}

div.dsnav_black_new_gray {
    cursor: text;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
}

div.dsnav_black_cancel {
    cursor:pointer;
    background : url('dsnav/cancel.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_cancel:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/cancel_over.png') no-repeat center;
  }

div.dsnav_black_cancel_gray {
    cursor: text;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_delete {
    cursor:pointer;
    background : url('dsnav/delete.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_delete:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/delete_over.png') no-repeat center;
  }

div.dsnav_black_delete_gray {
    cursor:text;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_save {
    cursor:pointer;
    background : url('dsnav/save.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
	border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_save:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/save_over.png') no-repeat center;
  }

div.dsnav_black_save_gray {
    cursor: text;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_first {
    cursor:pointer;
    background : url('dsnav/first.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_first:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/first_over.png') no-repeat center;
  }

div.dsnav_black_first_gray {
    cursor:text;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_prev {
    cursor:pointer;
    background : url('dsnav/left.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_prev:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/left_over.png') no-repeat center;
  }

div.dsnav_black_prev_gray {
    cursor:text;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_next {
    cursor:pointer;
    background : url('dsnav/right.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_next:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/right_over.png') no-repeat center;
  }

div.dsnav_black_next_gray {
    cursor:text;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_last {
    cursor:pointer;
    background : url('dsnav/last.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

div.dsnav_black_last:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
    background : url('dsnav/last_over.png') no-repeat center;
  }

div.dsnav_black_last_gray {
    cursor:pointer;
    background : url('dsnav/key_gray.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
  }

input.dsnav_black_find {
    background-color: #4F4F4F; 
	margin-top: 1px;
    border: 1px #000000 solid;
	color: white;
}

div.dsnav_black_find {
	float: left;
    background-color: #000000;
    border: 1px #000000 solid;
    height : 20px;
	font-size: 12px;
	float: left;
	margin: 1px;
	line-height: 20px;
	padding-left: 3px;
	padding-right: 3px;
}

div.dsnav_black_find:hover {
	background:#444444 none repeat scroll 0 0;
	border:1px solid #9EDA29;
	color:#FFFFFF;
}

div.dsnav_black_findicon {
    cursor:pointer;
    background : url('dsnav/search.png') no-repeat center;
    background-color : #FFF;
    height : 20px;
	width : 20px;
	float: left; 
    border: 1px #000000 solid;
 	margin: 1px;
}

div.dsnav_black_findicon:hover {
    background : url('dsnav/search_over.png') no-repeat center;
    border: 1px #316AC5 solid;
}

div.dsnav_black_bt_custom {
    cursor:pointer;
    background-color : #FFF;
	height : 20px;
	width : 20px;
	float: left;
    border: 1px #000000 solid;
	margin: 1px;
}

div.dsnav_black_bt_custom:hover {
    border: 1px #316AC5 solid;
    background-color: #C6D0FF;
}