/* CSS gridds_black */
div.gridds_black 
{
    background-color:#4C4C4C;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	overflow:hidden;
	color: white;
}
div.gridds_black_body
{
	overflow:auto;
}

div.gridds_black_label
{
	background-image:url('gridds/cell.png');
	border-bottom:1px solid #8A867A; 	
	overflow: hidden;
    height:20px;
	font-size:12px;
	padding-top:2px;
	font-weight:bold;
	overflow:hidden;
	text-align:center;
	width:100%;
}

div.gridds_black_heads
{
	background-image:url('gridds/cell.png');
	position:relative;  /* IE7 */
	overflow:hidden;
}

div.gridds_black_heads div
{
	height: 22px;
	border-bottom:1px solid #8A867A; 	
	overflow: hidden;
}

div.gridds_black_heads div.gridds_black_head
{
	border-right:1px solid #8A867A; 
    background-position:left;
    background-repeat:no-repeat;
    padding-left:11px;
	padding-right:11px;
    height:20px;
	font-size:12px;
	padding-top:2px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	cursor:default;
	text-align:center;
}

div.gridds_black_heads div.gridds_black_col
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
    background-position:left;
    background-repeat:no-repeat;
    padding-left:11px;
	padding-right:11px;
    height:20px;
	font-size:12px;
	padding-top:2px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_black_heads div.gridds_black_colDOWN
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
    background-image:url('gridds/down.png');
    background-position:left;
    background-repeat:no-repeat;
    padding-left:11px;
	padding-right:11px;
    height:20px;
	font-size:12px;
	padding-top:2px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_black_heads div.gridds_black_colUP
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
    background-image:url('gridds/up.png');
    background-position:left;
    background-repeat:no-repeat;
    padding-left:11px;
	padding-right:11px;
    height:20px;
	font-size:12px;
	padding-top:2px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_black_heads div.gridds_black_colNONE
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
    background-image:url('gridds/none.png');
    background-position:left;
    background-repeat:no-repeat;
    padding-left:11px;
	padding-right:11px;
    height:20px;
	font-size:12px;
	padding-top:2px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_black_body div.gridds_black_row,
div.gridds_black_body div.gridds_black_row_even,
div.gridds_black_body div.gridds_black_row_pos,
div.gridds_black_body div.gridds_black_row_selected
{
	overflow:hidden;
	float:none;
	height: 21px;
}

div.gridds_black_row0
{
	position:absolute;
	visibility:hidden;
	display:block;
	height: 21px;
}

div.gridds_black_row0 div.gridds_black_col span,
div.gridds_black_row0 div.gridds_black_col label,
div.gridds_black_row0 div.gridds_black_col input,
div.gridds_black_row0 div.gridds_black_col select,
div.gridds_black_row0 div.gridds_black_col textarea
{
	color: black;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	margin-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
}

div.gridds_black_body div.gridds_black_col span,
div.gridds_black_body div.gridds_black_col label,
div.gridds_black_body div.gridds_black_col input,
div.gridds_black_body div.gridds_black_col select,
div.gridds_black_body div.gridds_black_col textarea
{
	border: 1px solid #494949;
	background-color: #494949;
	margin-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
	float:left;
}

div.gridds_black_row div.gridds_black_col span,
div.gridds_black_row div.gridds_black_col label,
div.gridds_black_row div.gridds_black_col input,
div.gridds_black_row div.gridds_black_col select,
div.gridds_black_row div.gridds_black_col textarea,
div.gridds_black_row div.gridds_black_col
{
	background-color:#4F4F4F;
	border: none;
}

div.gridds_black_row div.gridds_black_col
{
	overflow:hidden;
	float:left;
	height: 20px;
	border-bottom:1px solid black; 
	border-right:1px solid black; 
	background-color:#4F4F4F;
}

div.gridds_black_row_even div.gridds_black_col span,
div.gridds_black_row_even div.gridds_black_col label,
div.gridds_black_row_even div.gridds_black_col input,
div.gridds_black_row_even div.gridds_black_col select,
div.gridds_black_row_even div.gridds_black_col textarea,
div.gridds_black_row_even div.gridds_black_col
{
	background-color:#494949;
	border: none;
}

div.gridds_black_row_even div.gridds_black_col
{
	overflow:hidden;
	float:left;
	height: 20px;
	border-bottom:1px solid black; 
	border-right:1px solid black; 
	background-color:#494949;
}

div.gridds_black_row:hover div.gridds_black_col span,
div.gridds_black_row:hover div.gridds_black_col label,
div.gridds_black_row:hover div.gridds_black_col input,
div.gridds_black_row:hover div.gridds_black_col select,
div.gridds_black_row:hover div.gridds_black_col textarea,
div.gridds_black_row_even:hover div.gridds_black_col span,
div.gridds_black_row_even:hover div.gridds_black_col label,
div.gridds_black_row_even:hover div.gridds_black_col input,
div.gridds_black_row_even:hover div.gridds_black_col select,
div.gridds_black_row_even:hover div.gridds_black_col textarea
{
	color: black;
	background-color: yellow;
	border: none;
}

div.gridds_black_row:hover div.gridds_black_col,
div.gridds_black_row_even:hover div.gridds_black_col
{
	background-color: yellow;
}

div.gridds_black_row_pos div.gridds_black_col span,
div.gridds_black_row_pos div.gridds_black_col label,
div.gridds_black_row_pos div.gridds_black_col input,
div.gridds_black_row_pos div.gridds_black_col select,
div.gridds_black_row_pos div.gridds_black_col textarea
{
	color: #9EDA29;
	background-color: #202020;
	border: none;
}

div.gridds_black_row_pos div.gridds_black_col
{
	overflow:hidden;
	float:left;
	height: 20px;
	border-bottom:1px solid black; 
	border-right:1px solid black; 
	background-color:#202020;
}

div.gridds_black_row_pos div.gridds_black_col input:focus,
div.gridds_black_row_pos div.gridds_black_col select:focus,
div.gridds_black_row_pos div.gridds_black_col textarea:focus
{
	background-color: #4F4F4F;
}

div.gridds_black_row_selected div.gridds_black_col
{
	overflow:hidden;
	float:left;
	height: 21px;
	border-bottom:1px solid black; 
	border-right:1px solid black; 
	background-image:url('gridds/cell.png');
}

div.gridds_black_row_selected div.gridds_black_col span,
div.gridds_black_row_selected div.gridds_black_col label,
div.gridds_black_row_selected div.gridds_black_col input,
div.gridds_black_row_selected div.gridds_black_col select,
div.gridds_black_row_selected div.gridds_black_col textarea
{
	background-image:url('gridds/cell.png');
	border: none;
}

div.gridds_black_body div.gridds_black_col input.regerror,
div.gridds_black_body div.gridds_black_col select.regerror,
div.gridds_black_body div.gridds_black_col textarea.regerror,
div.gridds_black_row:hover div.gridds_black_col input.regerror,
div.gridds_black_row:hover div.gridds_black_col select.regerror,
div.gridds_black_row:hover div.gridds_black_col textarea.regerror,
div.gridds_black_row_even:hover div.gridds_black_col input.regerror,
div.gridds_black_row_even:hover div.gridds_black_col select.regerror,
div.gridds_black_row_even:hover div.gridds_black_col textarea.regerror
div.gridds_black_row_pos div.gridds_black_col input.regerror,
div.gridds_black_row_pos div.gridds_black_col select.regerror,
div.gridds_black_row_pos div.gridds_black_col textarea.regerror
{
	border: 1px dashed red;
	background-color: yellow;
	margin-bottom: 0px;
}