div.note_black {
	overflow: hidden;
	position:absolute;
	z-index:2;
}

div.note_black_container {
	position:absolute;
	overflow:auto;
	margin-left:8px;
	margin-top:5px;
	z-index:4;
	display:none;
}

img.note_black {
	position:absolute;
	height: 100%;
	z-index:3;
}

