div.splitbar_black_horizontal {
	cursor :row-resize;
	background :url('splitbar/background2.png');
	background-repeat:repeat-x;
	height : 9px;
	width : 100%;
	text-align :center;
	display: none;
	position:absolute;
	z-index:997;
}

div.splitbar_black_horizontal span {
	background :url('splitbar/bar2.png');
	background-repeat :no-repeat;
	padding-left :9px;
}

div.splitbar_black_vertical {
	cursor :col-resize;
	background :url('splitbar/background1.png');
	background-repeat:repeat-y;
	width : 9px;
	height : 100%;
	vertical-align : center;
	float:left;
	display: none;
	position:absolute;
	z-index:997;
}

div.splitbar_black_vertical span {
	background :url('splitbar/bar1.png');
	background-repeat :no-repeat;
	padding-left :9px;
	margin-top : -4.5px;
}