div.window_black_title {
  overflow:hidden;
  background: transparent url('window/border.png') repeat-x scroll 0 -1px;
  height:16px;
  border: 1px solid #494949;
  padding : 2px 0px 4px 10px;
  color:white;
  font-family:tahoma,arial,verdana,sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
}

div.window_black_title_horizontal {
  overflow:hidden;
   background: transparent url('window/border-horizontal.png') repeat-y scroll 0 -1px;
  height:16px;
  border: 1px solid #494949;
  padding : 2px 0px 4px 10px;
  color:#15428B;
  font-family:tahoma,arial,verdana,sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
}

div.window_black {
	border-color : #474747;
	border-style : solid;
	border-width : 1px;
	padding: 5px;
	background-color: #4F4F4F;
	overflow:hidden;
}

td.window_black_iconV_open {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/up.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}

td.window_black_iconV_close {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/down.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}
td.window_black_iconH_open {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/left.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}

td.window_black_iconH_close {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/right.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}
