div.xgridds_black {
	border : 1px solid #B1B1B1;
	padding: 3px;
	background-color : #FFFFFF;
	overflow: auto;
	cursor: pointer;
}

div.xgridds_black_row {
	border : 1px solid #316AC5;
	padding: 3px;
	background-color: #C6D0FF;
	overflow: auto;
	cursor: pointer;
}

div.xgridds_black_rowerror {
	border: 1px dashed red;
	padding: 3px;
	background-color: yellow;
	overflow: auto;
	cursor: pointer;
}