div.calendar_default {
	background-color : #E3E3E3 !important;
	border : 1px solid #DDDDDD !important;
	padding : 2px 2px 2px 2px !important;
	-moz-border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 2px 10px #999999;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 2px 10px #999999;
}

div.calendar_default table.cal {
	border : 1px solid transparent !important;
}

div.calendar_default table.cal td {
	border : 1px solid #DDDDDD !important;
   height: 20px;
	width:  20px; 
}

div.calendar_default a {
  text-decoration: none;
}

div.calendar_default div {
	text-align : right !important;
	padding-bottom : 2px !important;
	padding-left : 2px !important;
	padding-right : 2px !important;
	padding-top : 2px !important;
}

div.calendar_default td.week {
	border: 0px; 
	background-color: #C6D0FF !important;
	color: #333333; 
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif !important;
	font-size : 11px !important;
	margin-bottom: 3px !important;
	float :none !important;
}

div.calendar_default td.weekday {
	border: 0px; 
	background-color: #C6D0FF !important;
	color: #333333; 
	font-weight : bold;
	font-family : Verdana, Arial, Helvetica, sans-serif !important;
	font-size : 11px !important;
	margin-bottom: 3px !important;
	float :none !important;
}

div.calendar_default table.cal span {
	background-color : transparent !important;
	border: 0px;
}

div.calendar_default table thead {
	background-color : #C6D0FF !important;
}

div.calendar_default table tbody {
	color : #C6D0FF !important;
}

div.calendar_default table tbody span {
	color : #000000 !important;
	text-decoration : none !important;
	cursor:pointer;
}

div.calendar_default span {
	text-decoration : none !important;
}

div.calendar_default table tbody .selected {
	background-color : #C6D0FF !important;
	color : #000000 !important;
	text-decoration : none !important;
}

div.calendar_default table tbody td.dayselected {
	border : 1px solid #A3A3A3 !important;
	background-color : #C3C3C3 !important;
	color : #000000 !important;
	text-decoration : none !important;
}

div.calendar_default table tbody td.dayselected span {
	background-color : #C3C3C3 !important;
	color : #000000 !important;
	text-decoration : none !important;
}

div.calendar_default table td {
	padding: 1px;
	text-align: center;
}

span.calendar_default_today {
	background : url('calendar/1day.png') no-repeat scroll 0 0 transparent !important;
	height : 16px !important;
	padding-bottom : 2px !important;
	padding-left : 16px !important;
	padding-right : 2px !important;
	padding-top : 0px !important;
	text-decoration : none !important;
	width : 16px !important;
	border : 0px !important;
	margin : 0px !important;
	float :none !important;
}

span.calendar_default_cancel {
	background: url("calendar/cancel.png") no-repeat scroll 0 0 transparent !important;
	height : 16px !important;
	padding-bottom : 2px !important;
	padding-left : 16px !important;
	padding-right : 2px !important;
	padding-top : 0px !important;
	text-decoration : none;
	width : 16px !important;
	border : 0px !important;
	margin : 0px !important;
	float :none !important;
}

span.calendar_default_close {
	background : url('calendar/delete.png') no-repeat scroll 0 0 transparent !important;
	height : 16px !important;
	padding-bottom : 2px !important;
	padding-left : 16px !important;
	padding-right : 2px !important;
	padding-top : 2px !important;
	text-decoration : none !important;
	width : 16px !important;
	border : 0px !important;
	margin : 0px !important;
	float :none !important;
}

span.calendar_default_confirm {
	background : url('calendar/confirm.png') no-repeat scroll 0 0 transparent !important;
	height : 16px !important;
	padding-bottom : 2px !important;
	padding-left : 16px !important;
	padding-right : 2px !important;
	padding-top : 2px !important;
	text-decoration : none !important;
	width : 16px !important;
	border : 0px !important;
	margin : 0px !important;
	float :none !important;
}

div.calendar_default select {
	background-color: #FFF !important;
	border: 1px #C6D0FF solid !important;
	font-family : Verdana, Arial, Helvetica, sans-serif !important;
	font-size : 11px !important;
	margin-bottom: 3px !important;
	float :none !important;
}
