div.carosel_default {
	overflow: hidden; 
	visibility: visible; 
	position: relative; 
	z-index: 2; 
	left: 0px; 
	width: 700px; 
	height: 152px;
}

div.carosel_default .prev{
	background: url('carosel/left.png') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
	opacity: 0.6; 
	z-index: 200; 
	position: absolute; 
	left: 0px; 
	top: 50%;
	margin-top: -25px;
}
div.carosel_default .next{
	background: url('carosel/right.png') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
	z-index: 200; 
	position: absolute; 
	right: 0px; 
	top: 50%;
	margin-top: -25px;
}
div.carosel_default .up{
	background: url('carosel/up.png') center center no-repeat;
	width:61px;
	height:40px;
	border:0px;
}

div.carosel_default .down{
	background: url('carosel/down.png') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}

div.carosel_default ul {
	margin: 0pt; 
	padding: 0pt; 
	position: relative; 
	list-style-type: none; 
	z-index: 1; 
	width: 4848px; 
	left: 0px; 
}

div.carosel_default ul li{
	border:1px solid #fff;
	line-height:0px;
	overflow: hidden; 
	float: left; 
	display: inline;
}

div.carosel_default ul li a{
	display:block;
	border:0px;
}

div.carosel_default ul li a img{
	display:block;
	border:0px;
	overflow: hidden;
}
