span.checkbox_default_check {
	cursor:pointer;
	background : url('checkbox/check.gif') no-repeat center;
	overflow: auto;
	height: 16px;
	width: 16px;
	padding-left: 11px;
}

span.checkbox_default_uncheck {
	cursor:pointer;
	background : url('checkbox/uncheck.gif') no-repeat center;
	overflow: auto;
	height: 16px;
	width: 16px;
	padding-left: 11px;
}

span.checkbox_default,
span.checkbox_default_undefined {
	cursor:pointer;
	background : url('checkbox/undefined.gif') no-repeat center;
	overflow: auto;
	height: 16px;
	width: 16px;
	padding-left: 11px;
}