/* CSS DSCOMBO */
span.dscombo_default_expand {
    cursor:pointer;
    height : 16px;
    width : 16px;
    padding-left : 16px;
    background : url('dscombo/down.gif') no-repeat left;
  }

div.dscombo_default_result {
    background-color : #ffffff;
    height : 200px;
    overflow : scroll;
    position : absolute;
    z-index : 998;
    border: 1px #316AC5 solid;
	 text-align: left;
  }

div.dscombo_default_result td:hover {
    cursor:pointer;
    background-color: #C6D0FF;
  }

div.dscombo_default_result td {
    cursor:pointer;
    border: 1px #C6D0FF solid;
  }
