/* CSS GRIDDS */
div.gridds_default 
{
   background-color:#4C4C4C;
	border-top:1px solid #8A867A;
	border-left:1px solid #8A867A;
	border-right:1px solid #8A867A;
	border-bottom:1px solid #DDDDDD;
	overflow:hidden;
	color: black;
}
div.gridds_default_body
{
	overflow:auto;
}

div.gridds_default_label
{
    background:url("gridds/cell.gif") repeat-x scroll 0 -1px transparent;
	border-bottom:1px solid #8A867A; 	
	overflow: hidden;
	height:21px;
	font-size:11px;
	font-weight:bold;
	overflow:hidden;
	text-align:center;
	width:100%;
	padding-top:4px;
	cursor:default;
}

div.gridds_default_heads
{
    background:url("gridds/cell.gif") repeat-x scroll 0 -1px transparent;
	position:relative;  /* IE7 */
	overflow:hidden;
}

div.gridds_default_heads div
{
	height: 22px;
	border-bottom:1px solid #8A867A; 	
	overflow: hidden;
}

div.gridds_default_heads div.gridds_default_head
{
	border-right:1px solid #8A867A; 
	background-position:left;
	background-repeat:no-repeat;
	padding-left:11px;
	padding-right:11px;
	height:21px;
	font-size:11px;
	padding-top:4px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	cursor:default;
	text-align:center;
}

div.gridds_default_heads div.gridds_default_col
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
	background-position:left;
	background-repeat:no-repeat;
	padding-left:11px;
	padding-right:11px;
	height:21px;
	font-size:11px;
	padding-top:4px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_default_heads div.gridds_default_colDOWN
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
	background-image:url('gridds/down.png');
	background-position:left;
	background-repeat:no-repeat;
	padding-left:11px;
	padding-right:11px;
	height:21px;
	font-size:11px;
	padding-top:4px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_default_heads div.gridds_default_colUP
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
	background-image:url('gridds/up.png');
	background-position:left;
	background-repeat:no-repeat;
	padding-left:11px;
	padding-right:11px;
	height:21px;
	font-size:11px;
	padding-top:4px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_default_heads div.gridds_default_colNONE
{
	border-right:1px solid #8A867A; 
	border-bottom:1px solid #8A867A; 
	background-image:url('gridds/none.png');
	background-position:left;
	background-repeat:no-repeat;
	padding-left:11px;
	padding-right:11px;
	height:21px;
	font-size:11px;
	padding-top:4px;
	font-weight:bold;
	float:left;
	overflow:hidden;
	text-align:center;
}

div.gridds_default_body div.gridds_default_row,
div.gridds_default_body div.gridds_default_row_even,
div.gridds_default_body div.gridds_default_row_pos,
div.gridds_default_body div.gridds_default_row_selected
{
	overflow:hidden;
	float:none;
	height: 21px;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_row0
{
	position:absolute;
	visibility:hidden;
	display:block;
	height: 21px;
}

div.gridds_default_row0 div.gridds_default_col span,
div.gridds_default_row0 div.gridds_default_col label,
div.gridds_default_row0 div.gridds_default_col input,
div.gridds_default_row0 div.gridds_default_col select,
div.gridds_default_row0 div.gridds_default_col textarea
{
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	margin-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
	float:left;
   color: #000000;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_body div.gridds_default_col span,
div.gridds_default_body div.gridds_default_col label,
div.gridds_default_body div.gridds_default_col input,
div.gridds_default_body div.gridds_default_col select,
div.gridds_default_body div.gridds_default_col textarea
{
	border: 1px solid transparent;
	background-color: #FFFFFF;
	margin-bottom: 0px;
	padding-left: 1px;
	padding-right: 1px;
	float:left;
	padding-top: 1px;
   color: #000000;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_body div.gridds_default_col select
{
	padding: 1px;
}
div.gridds_default_body div.gridds_default_col
{
	overflow:hidden;
	float:left;
	height: 20px;
	border-bottom:1px solid #DDDDDD; 
	border-right:1px solid #DDDDDD; 
	background-color:#FFFFFF;
}

div.gridds_default_row div.gridds_default_col span,
div.gridds_default_row div.gridds_default_col label,
div.gridds_default_row div.gridds_default_col input,
div.gridds_default_row div.gridds_default_col select,
div.gridds_default_row div.gridds_default_col textarea,
div.gridds_default_row div.gridds_default_col
{
	background-color:#FFFFFF;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_row_even div.gridds_default_col span,
div.gridds_default_row_even div.gridds_default_col label,
div.gridds_default_row_even div.gridds_default_col input,
div.gridds_default_row_even div.gridds_default_col select,
div.gridds_default_row_even div.gridds_default_col textarea,
div.gridds_default_row_even div.gridds_default_col
{
	background-color:#F7F7F7;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_row:hover div.gridds_default_col span,
div.gridds_default_row:hover div.gridds_default_col label,
div.gridds_default_row:hover div.gridds_default_col input,
div.gridds_default_row:hover div.gridds_default_col select,
div.gridds_default_row:hover div.gridds_default_col textarea,
div.gridds_default_row_even:hover div.gridds_default_col span,
div.gridds_default_row_even:hover div.gridds_default_col label,
div.gridds_default_row_even:hover div.gridds_default_col input,
div.gridds_default_row_even:hover div.gridds_default_col select,
div.gridds_default_row_even:hover div.gridds_default_col textarea
{
	background-color: #EFEDDE;
	border-color:#EFEDDE;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_row:hover div.gridds_default_col,
div.gridds_default_row_even:hover div.gridds_default_col
{
	background-color: #EFEDDE;
}

div.gridds_default_row_pos div.gridds_default_col
{
	background-color:#FFF077;
}

div.gridds_default_row_pos div.gridds_default_col span,
div.gridds_default_row_pos div.gridds_default_col label,
div.gridds_default_row_pos div.gridds_default_col input,
div.gridds_default_row_pos div.gridds_default_col select,
div.gridds_default_row_pos div.gridds_default_col textarea
{
	background-color: #FFF077;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_row_pos div.gridds_default_col input:focus,
div.gridds_default_row_pos div.gridds_default_col select:focus,
div.gridds_default_row_pos div.gridds_default_col textarea:focus
{
	background-color: #FFF077;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_row_selected div.gridds_default_col
{
	background-color:#D2FF92;
}

div.gridds_default_row_selected div.gridds_default_col span,
div.gridds_default_row_selected div.gridds_default_col label,
div.gridds_default_row_selected div.gridds_default_col input,
div.gridds_default_row_selected div.gridds_default_col select,
div.gridds_default_row_selected div.gridds_default_col textarea
{
	border: 1px solid #D2FF92;
	background-color: #D2FF92;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

div.gridds_default_body div.gridds_default_col input.regerror,
div.gridds_default_body div.gridds_default_col select.regerror,
div.gridds_default_body div.gridds_default_col textarea.regerror,
div.gridds_default_row:hover div.gridds_default_col input.regerror,
div.gridds_default_row:hover div.gridds_default_col select.regerror,
div.gridds_default_row:hover div.gridds_default_col textarea.regerror,
div.gridds_default_row_even:hover div.gridds_default_col input.regerror,
div.gridds_default_row_even:hover div.gridds_default_col select.regerror,
div.gridds_default_row_even:hover div.gridds_default_col textarea.regerror
div.gridds_default_row_pos div.gridds_default_col input.regerror,
div.gridds_default_row_pos div.gridds_default_col select.regerror,
div.gridds_default_row_pos div.gridds_default_col textarea.regerror
{
	border: 1px dashed red;
	background-color: yellow;
	margin-bottom: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
}
