#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; }
.lbOverlay_grey { background-color: #000000; }
.lbOverlay_red { background-color: #330000; }
.lbOverlay_green { background-color: #003300; }
.lbOverlay_blue { background-color: #011D50; }
.lbOverlay_gold { background-color: #666600; }

#lbMain { position: absolute; left: 0; width: 100%; z-index: 99999; text-align: center; line-height: 0; }
#lbMain a img { border: none; }

#lbOuterContainer { position: relative; background-color: #fff; width: 200px; height: 200px; margin: 0 auto; }
.lbOuterContainer_grey { border: 3px solid #888888; }
.lbOuterContainer_red { border: 3px solid #DD0000; }
.lbOuterContainer_green { border: 3px solid #00B000; }
.lbOuterContainer_blue { border: 3px solid #5F89D8; }
.lbOuterContainer_gold { border: 3px solid #B0B000; }

#lbDetailsContainer {	font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; width: 100%; line-height: 1.4em;	overflow: auto; margin: 0 auto; }
.lbDetailsContainer_grey { border: 3px solid #888888; border-top: none; }
.lbDetailsContainer_red { border: 3px solid #DD0000; border-top: none; }
.lbDetailsContainer_green { border: 3px solid #00B000; border-top: none; }
.lbDetailsContainer_blue { border: 3px solid #5F89D8; border-top: none; }
.lbDetailsContainer_gold { border: 3px solid #B0B000; border-top: none; }

#lbIframe { 
	border: 0px;
	background-color: transparent;
}

#lbImageContainer, #lbIframeContainer { padding: 10px; }
#lbLoading {
	position: absolute; top: 45%; left: 0%; height: 32px; width: 100%; text-align: center; line-height: 0; background: url(lightbox/loading.gif) center no-repeat;
}

#lbHoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#lbImageContainer>#lbHoverNav { left: 0; }
#lbHoverNav a { outline: none; }

#lbPrev { width: 49%; height: 100%; display: block; left: 0; float: left; background-image: url(data:image/gif;base64,AAAA); }
#lbPrev:hover, #lbPrev:visited:hover { background: url(lightbox/prev_grey.gif) left 15% no-repeat; }

#lbNext { width: 49%; height: 100%; display: block; right: 0; float: right; background-image: url(data:image/gif;base64,AAAA);}
#lbNext:hover, #lbNext:visited:hover { background: url(lightbox/next_grey.gif) right 15% no-repeat; }

#lbPrev2, #lbNext2 { text-decoration: none; font-weight: bold; }
.lbPrev2_grey,.lbNext2_grey, .lbSpacer_grey { color: #333333; }
.lbPrev2_red,.lbNext2_red, .lbSpacer_red { color: #620000; }
.lbPrev2_green,.lbNext2_green, .lbSpacer_green { color: #003300; }
.lbPrev2_blue,.lbNext2_blue, .lbSpacer_blue { color: #01379E; }
.lbPrev2_gold,.lbNext2_gold, .lbSpacer_gold { color: #666600; }
	
#lbPrev2_Off, #lbNext2_Off { font-weight: bold; }
.lbPrev2_Off_grey,.lbNext2_Off_grey { color: #CCCCCC; }
.lbPrev2_Off_red,.lbNext2_Off_red { color: #FFCCCC; }
.lbPrev2_Off_green,.lbNext2_Off_green { color: #82FF82; }
.lbPrev2_Off_blue,.lbNext2_Off_blue { color: #B7CAEE; }
.lbPrev2_Off_gold,.lbNext2_Off_gold { color: #E1E100; }
	
#lbDetailsData { padding: 0 10px; }
.lbDetailsData_grey { color: #333333; }
.lbDetailsData_red { color: #620000; }
.lbDetailsData_green { color: #003300; }
.lbDetailsData_blue { color: #01379E; }
.lbDetailsData_gold { color: #666600; }
	
#lbDetails { width: 60%; float: left; text-align: left; }
#lbCaption { display: block; font-weight: bold; }
#lbNumberDisplay { float: left; display: block; padding-bottom: 1.0em; }
#lbNavDisplay { float: left; display: block; padding-bottom: 1.0em; }

#lbClose { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
.lbClose_grey { background: url(lightbox/close_grey.png) no-repeat; }
.lbClose_red { background: url(lightbox/close_red.png) no-repeat; }
.lbClose_green { background: url(lightbox/close_green.png) no-repeat; }
.lbClose_blue { background: url(lightbox/close_blue.png) no-repeat; }
.lbClose_gold { background: url(lightbox/close_gold.png) no-repeat; }

#lbPlay { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
.lbPlay_grey { background: url(lightbox/play_grey.png) no-repeat; }
.lbPlay_red { background: url(lightbox/play_red.png) no-repeat; }
.lbPlay_green { background: url(lightbox/play_green.png) no-repeat; }
.lbPlay_blue { background: url(lightbox/play_blue.png) no-repeat; }
.lbPlay_gold { background: url(lightbox/play_gold.png) no-repeat; }

#lbPause { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
.lbPause_grey { background: url(lightbox/pause_grey.png) no-repeat; }
.lbPause_red { background: url(lightbox/pause_red.png) no-repeat; }
.lbPause_green { background: url(lightbox/pause_green.png) no-repeat; }
.lbPause_blue { background: url(lightbox/pause_blue.png) no-repeat; }
.lbPause_gold { background: url(lightbox/pause_gold.png) no-repeat; }
