span.radio_default_check {
	cursor:pointer;
	background : url('radio/check.gif') no-repeat center;
	overflow: auto;
	height: 20px;
	padding-right: 10px;
}

span.radio_default_uncheck {
	cursor:pointer;
	background : url('radio/uncheck.gif') no-repeat center;
	overflow: auto;
	height: 20px;
	padding-right: 10px;
}

span.radio_default,
span.radio_default_undefined {
	cursor:pointer;
	background : url('radio/undefined.gif') no-repeat center;
	overflow: auto;
	height: 20px;
	padding-right: 10px;
}