div.tabs_default {
   background-color: #efeff2;
	overflow: hidden;
}

div.tabs_default_tabs {
	border: 1px solid #3a3a37;
	overflow: auto;
}

div.tabs_default_tabs div.tabs_default_tab {
	padding: 2px;
	overflow: auto;
   display: none;
   text-align: left;
}

div.tabs_default_title {
  	overflow:hide;
	border-width: 0px; 
	border-bottom: 0px none; 
	cursor: pointer; 
	background: url("tabs/background.gif") repeat-x 0 3px; 
	margin: 0px;
	border: 0;
	height: 33px;
	padding-top: 3px;
}

div.tabs_default_box {
	border-width: 0px; 
	border-bottom: 0px none; 
	cursor: pointer; 
	background: url("tabs/center_on.gif") repeat-x; 
	border: 0;    
}

div.tabs_default_title table.selected {
 	width: 100%; 
	color: #363636; 
}

div.tabs_default_title table.unselected {
    color: #777777;
    text-shadow: 1px 0 0 #FFFFFF;
}

div.tabs_default_title table.unselected:hover {
	color: #000000;
}

div.tabs_default_title table.selected td.tab_text,
div.tabs_default_title table.unselected td.tab_text
{
	text-align: center;
	white-space:nowrap;
	font-family: Arial; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	font-size: 12px; 
	line-height: normal; 
	font-size-adjust: none; 
	font-stretch: normal; 
	-x-system-font: none; 
	text-decoration: none;
}

div.tabs_default_title table.selected td.tab_left {
	padding: 0px; 
	width: 7px; 
	height: 33px; 
	background: url("tabs/left_on.gif") no-repeat; 
	white-space: nowrap;
} 

div.tabs_default_title table.selected td.tab_right {
	padding: 0px; 
	width: 7px; 
	height: 33px; 
	background: url("tabs/right_on.gif") no-repeat; 
	white-space: nowrap;
}

div.tabs_default_title table.unselected {
	border-width: 0px; 
	border-bottom: 0px none; 
	margin: 0px; 
	cursor: pointer; 
	background: url("tabs/center.gif") repeat-x; 
}

div.tabs_default_title table.unselected td.tab_left {
	padding: 0px; 
	width: 7px; 
	height: 33px; 
	white-space: nowrap;
	background: url("tabs/left.gif") no-repeat; 
}

div.tabs_default_title table.unselected td.tab_right {
	padding: 0px; 
	width: 7px; 
	height: 33px; 
	white-space: nowrap;
	background: url("tabs/right.gif") no-repeat; 
}

div.tabs_default_title_bottom {
	padding: 0px; 
	width: 0%; 
	height: 0px; 
}
