div.window_default_title
{
	overflow:hidden;
	background: url("window/vline.gif") repeat-x scroll 0 -1px transparent;
	height:16px;
	font-weight: bold;
	border: 1px solid #8A867A;
	padding : 2px 0px 4px 10px;
}

div.window_default_title_horizontal
{
	overflow:hidden;
	background: url("window/hline.gif") repeat-y scroll 20px -1px transparent;
	height:16px;
	font-weight: bold;
	border: 1px solid #8A867A;
	padding : 2px 0px 4px 10px;
}

div.window_default_horizontal {
	border-color : #8A867A;
	border-style : solid;
	border-top-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 0px;
	border-right-width : 1px;
	padding: 5px;
	background-color: #F3F3F3;
	overflow:hidden;
}

div.window_default_vertical {
	border-color : #8A867A;
	border-style : solid;
	border-top-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	border-right-width : 1px;
	padding: 5px;
	background-color: #F3F3F3;
	overflow:hidden;
}

td.window_default_iconV_open {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/up.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}

td.window_default_iconV_close {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/down.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}
td.window_default_iconH_open {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/left.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}

td.window_default_iconH_close {
	height : 16px;
	width: 16px;
	padding-left : 16px;
	background-image: url('window/right.gif');
	background-repeat: no-repeat;
	cursor:pointer;
}
