div.xgridds_default {
	border : 1px solid #B1B1B1;
	padding: 3px;
	background-color : #F9F9F9;
	overflow: auto;
	cursor: pointer;
}

div.xgridds_default_row {
	border-bottom:1px solid #DDDDDD; 
	background-color: #F9F9F9;
	padding: 3px;
	overflow: hidden;
	cursor: pointer;
}

div.xgridds_default_row_event {
	border-bottom:1px solid #DDDDDD; 
	background-color: #FFFFFF;
	padding: 3px;
	overflow: hidden;
	cursor: pointer;
}

div.xgridds_default_row_pos {
	background-color:#FFF077 !important;
	border-bottom:1px solid #DDDDDD;
	padding: 3px;
	overflow: hidden;
	cursor: pointer;
}

div.xgridds_default_row_event:hover,
div.xgridds_default_row_pos:hover,
div.xgridds_default_row:hover {
	background-color: #EFEDDE;
}

div.xgridds_default_row_error {
	border: 1px dashed red;
	padding: 3px;
	background-color: yellow;
	overflow: hidden;
	cursor: pointer;
}