<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE jamp PUBLIC "jamp" "./../../../../jamp.dtd">
<jamp>
	<page id="page">
		<text id="importtxt" label=" Importa :" />
		<tab id="tab2" label="UTENTI" />
		<dsnav id="dsnav">
			<buttons>
				<button title="Ricarica i Privilegi" />
			</buttons>
		</dsnav>
		<gridds id="gridds2" dsobj="ds2" width="autosize" height="autosize">
			<heading>
				<heads headlabel="Utenti" />
				<heads headlabel="Dati" />
				<heads headlabel="Struttura" />
				<heads headlabel="Viste" />
				<heads headlabel="Routine" />
				<heads headlabel="Generale" />
				<heads headlabel="Replica" />
				<heads headlabel="Utente" />
				<heads headlabel="Limitazioni" />
			</heading>
			<coloumn>
				<text itemlabel="Utente" />
				<text itemlabel="Host" />
				<text itemlabel="Password" />
				<checkbox itemlabel="Lettura" />
				<checkbox itemlabel="Inserimento" />
				<checkbox itemlabel="Modifica" />
				<checkbox itemlabel="Eliminazione" />
				<checkbox itemlabel="File" />
				<checkbox itemlabel="Creazione" />
				<checkbox itemlabel="Modifica" />
				<checkbox itemlabel="Indice" />
				<checkbox itemlabel="Svuota" />
				<checkbox itemlabel="Esegui" />
				<checkbox itemlabel="Tabelle Temp." />
				<checkbox itemlabel="Creazione" />
				<checkbox itemlabel="Visualizzazione" />
				<checkbox itemlabel="Creazione" />
				<checkbox itemlabel="Modifica" />
				<checkbox itemlabel="Grant" />
				<checkbox itemlabel="Super" />
				<checkbox itemlabel="Process" />
				<checkbox itemlabel="Reload" />
				<checkbox itemlabel="Shutdown" />
				<checkbox itemlabel="Show DB" />
				<checkbox itemlabel="Lock" />
				<checkbox itemlabel="References" />
				<checkbox itemlabel="Client" />
				<checkbox itemlabel="Server" />
				<checkbox itemlabel="Create" />
				<checkbox itemlabel="SSL" />
				<text itemlabel="Richieste" />
				<text itemlabel="Modifiche" />
				<text itemlabel="Connessioni" />
				<text itemlabel="Utenti Connessi" />
			</coloumn>
		</gridds>
	</page>
</jamp>
