<?xml version="1.0" encoding="utf-8"?>
<jamp>
	<page id="page" title="jdbadmin" loaddata="true">
		<ds id="ds1" conn="custom" dskey="Database" focusnew="gridds1_1_$" />
		<ds id="ds2" conn="custom" dskey="User" loadall="false" focusnew="gridds2_1_$" />
		<ds id="ds3" conn="custom" loadall="false" />
		<tabs id="tabs1" width="autosize" height="autosize" selected="tab1" align="left">
			<tab id="tab1" label="DATABASE">
				<text id="importtxt" label=" Import :" fileupload="true" rewrite="true" />
				<dsnav id="dsnav1" dsobj="ds1" objprint="gridds1" btPage="false" />
				<gridds id="gridds1" dsobj="ds1" width="300px" height="autosize">
					<coloumn>
						<text itemlabel="Database" dsitem="Database" colwidth="250px" minlength="1" />
					</coloumn>
				</gridds>
			</tab>
			<tab id="tab2" label="USERS">
				<dsnav id="dsnav2" dsobj="ds2" objprint="gridds2" btPage="false">
					<button>
						<bt onclick="ReloadPrivileges();" image="images/index.png" title="Reload Privileges" />
					</button>
				</dsnav>
				<gridds id="gridds2" dsobj="ds2" width="autosize" height="autosize">
					<header>
						<head headlabel="User" headcol="3" />
						<head headlabel="Data" headcol="6" />
						<head headlabel="Structure" headcol="6" />
						<head headlabel="View" headcol="2" />
						<head headlabel="Routine" headcol="2" />
						<head headlabel="General" headcol="7" />
						<head headlabel="Replicator" headcol="2" />
						<head headlabel="User" headcol="2" />
						<head headlabel="Mazimium" headcol="4" />
					</header>
					<coloumn>
						<text itemlabel="User" dsitem="User" colwidth="100px" />
						<text itemlabel="Host" dsitem="Host" colwidth="100px" />
						<text itemlabel="Password" dsitem="Password" colwidth="100px" password="true" />
						<checkbox itemlabel="Select" dsitem="Select_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Insert" dsitem="Insert_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Update" dsitem="Update_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Delete" dsitem="Delete_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="File" dsitem="File_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Create" dsitem="Create_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Alter" dsitem="Alter_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Index" dsitem="Index_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Drop" dsitem="Drop_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Execute" dsitem="Execute_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Create_tmp_table" dsitem="Create_tmp_table_priv" true="Y" false="N" colwidth="80px" />
						<checkbox itemlabel="Create" dsitem="Create_view_priv" true="Y" false="N" colwidth="80px" />
						<checkbox itemlabel="Show" dsitem="Show_view_priv" true="Y" false="N" colwidth="80px" />
						<checkbox itemlabel="Create" dsitem="Create_routine_priv" true="Y" false="N" colwidth="80px" />
						<checkbox itemlabel="Alter" dsitem="Alter_routine_priv" true="Y" false="N" colwidth="80px" />
						<checkbox itemlabel="Grant" dsitem="Grant_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Super" dsitem="Super_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Process" dsitem="Process_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Reload" dsitem="Reload_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Shutdown" dsitem="Shutdown_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Show DB" dsitem="Show_db_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Lock" dsitem="Lock_tables_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="References" dsitem="References_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Client" dsitem="Repl_client_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Server" dsitem="Repl_slave_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="Create" dsitem="Create_user_priv" true="Y" false="N" colwidth="40px" />
						<checkbox itemlabel="SSL" dsitem="ssl_type" true="Y" false="N" colwidth="40px" />
						<text itemlabel="Questions" dsitem="max_questions" colwidth="40px" keypress="number" size="5" />
						<text itemlabel="Updates" dsitem="max_updates" colwidth="40px" keypress="number" size="5" />
						<text itemlabel="Connections" dsitem="max_connections" colwidth="40px" keypress="number" size="5" />
						<text itemlabel="User Connections" dsitem="max_user_connections" colwidth="40px" keypress="number" size="5" />
					</coloumn>
				</gridds>
			</tab>
		</tabs>
	</page>
</jamp>
